@model List<OrderViewModel>

<h1 class="text-center">Заказы</h1>
<a class="btn btn-primary" asp-action="AddOrder" role="button">Добавить</a>

<table class="table table-striped mt-5 @*indextable*@">
    <thead>
        <tr>
            <th scope="col">Дата</th>
            <th scope="col">Покупатель</th>
            <th scope="col">Вид продукции</th>
            <th scope="col">Количество</th>
            <th scope="col">Удалить</th>
            <th scope="col">Отпустил</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">@item.CreatedDate</td>
                <td scope="row">@item.Customer</td>
                <td scope="row">@item.ProductName</td>
                <td scope="row">@item.Quantity</td>
                <td scope="row"><button type="submit" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteOrder", "Order", new { orderId = item.OrderId })'">Удалить</button></td>
                <td scope="row"><button type="submit" class="btn btn-success" onclick="location.href='@Url.Action("AddSaleHistory", "Order", new { orderId = item.OrderId })'">Отпустил</button></td>
            </tr>
        }
    </tbody>
</table>
